* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", sans-serif;
}

body {
  padding-top: 2em;
  background-color: #f5e9e2;
}

nav, footer {
  background-color: #773344;
  /* #011472; */
  font-size: 1.1em;
}

.match-p {
  font-size: 2.5em;
}

/* .cover-image, */
.cover-image,
.cover-text-formatting
{
  object-fit: cover;
	background-image:
    /* top, transparent #9C27B0  #494949*/       
    linear-gradient(
        rgba(0, 255, 222, 0.45),
        rgba(0, 88, 255, 0.45)
    ) 
    /* bottom, image */
    url(https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    /* url(../images/cover_sc1.jpg); */
	
	background-size: cover;
	background-position: top;
  background-repeat: no-repeat;
  
}

.cover-image img
{
  filter: brightness(35%);
}

#cover-image
{
filter: brightness(0) invert(1);
}

.caption-cover,
.animate-container1 {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  padding: 20px;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 2.5em;
}

.animate-container2 {
  position: absolute;
  right: -42%;
  top: 52%;
  transform: translate(-50%, -50%);
  /* width: 40%; */
  /* height: 65%; */
  /* padding: 20px; */
  background: transparent;
  color: white;
  text-align: center;
  font-size: 2.5em;
}

.animate-container3 {
  position: absolute;
  left: 80%;
  top: 65%;
}


.prof_pic {
  position: absolute;
  right: 5%;
  top: 22%;
  width: 32%;
  height: 40%;
  border-radius: 50%;
}

.cover-name {
  color: #e3b5a4;
  font-size: 2em;
  margin: 0 3px;
  display: inline-block;
}

.logotext {
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
}

.intro {
  font-family: "Orbitron", sans-serif;
}

.animate-logotext {
  color: black;
  font-size: 0.3em;
}

.animate-logox {
  font-family: "Orbitron", sans-serif;
  color: #e3b5a4;
  font-size: 1em;
}

.fas {
  color: #e3b5a4;
  font-size: 1.8em;
  margin: 0 8px;
}

.x {
  color: #e3b5a4;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}

.card {
  border: 2px solid #f5e9e2;
}

.card-tagline {
  background-color: #d75d6a;
  border: 5px solid #d75d6a;
}

.card-title {
  font-size: 1em;
}

.card-text {
  font-size: 1em;
}

#map-wrapper {
  overflow: hidden;
}

p {
  line-height: 1.5;
}

@media only screen and (max-width: 550px) {
  .caption-cover {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    padding: 20px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 1em;
  }

  .cover-name {
    color: #e3b5a4;
    font-size: 1em;
    margin: 0 3px;
  }

  .fas {
    color: #e3b5a4;
    font-size: 1em;
    margin-right: 3px;
  }

  .logotext {
    font-size: 1em;
    font-family: "Orbitron", sans-serif;
  }

  .contact-us-cover-btn {
    padding: 2px 4px;
    font-size: 0.5em;
    background-color: #773344;
    color: #e3b5a4;
  }

  .animate-container1 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 65%;
    padding: 20px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 2em;
  }

  .animate-logotext {
    color: black;
    font-size: 0.7em;
  }

  .animate-fas {
    color: #e3b5a4;
    font-size: 1.4em;
  }

  .animate-logox {
    font-family: "Orbitron", sans-serif;
    color: #e3b5a4;
    font-size: 1.7em;
  }

  body {
    padding-top: 3em;
    background: #f5e9e2;
  }
}
@media only screen and (min-width: 550px) and (max-width: 960px) {
  #cover-img {
    width: 150%;
  }

  .caption-cover {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    padding: 0;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 1.8em;
  }

  .cover-name {
    color: #e3b5a4;
    /* #e3b5a4; */
    font-size: 1.7em;
    margin: 0 3px;
    display: inline-block;
  }

  .fas {
    color: #e3b5a4;
    font-size: 1.8em;
    margin-right: 3px;
  }

  .logotext {
    font-size: 1em;
    font-family: "Orbitron", sans-serif;
  }

  .contact-us-cover-btn {
    padding: 5px 8px;
    font-size: 0.5em;
    background-color: #773344;
  }

  .animate-container1 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    padding: 20px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 2.3em;
  }

  .animate-logotext {
    color: black;
    font-size: 1em;
  }

  .animate-fas {
    color: #e3b5a4;
    font-size: 1.4em;
  }

  .animate-logox {
    font-family: "Orbitron", sans-serif;
    color: #e3b5a4;
    font-size: 1.8em;
  }

  body {
    padding-top: 3em;
    background: #f5e9e2;
  }
}
#list-home-list,
#list-profile-list,
#list-messages-list {
  background-color: #d75d6a;
}

@media only screen and (min-width: 961px) and (max-width: 2200px) {
  #cover-img {
    width: 150%;
  }

  .caption-cover {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 50%;
    padding: 0;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 3.2em;
  }

  .cover-name {
    color: #e3b5a4;
    font-size: 2em;
    margin: 0 3px;
    dipslay: inline-block;
  }

  .fas {
    color: #e3b5a4;
    font-size: 1.8em;
    margin-right: 3px;
  }

  .logotext {
    font-size: 1em;
    font-family: "Orbitron", sans-serif;
  }

  .contact-us-cover-btn {
    padding: 10px 18px;
    font-size: 0.45em;
    background-color: #773344;
  }

  .animate-container1 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    padding: 20px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 2.5em;
  }

  .animate-logotext {
    color: black;
    font-size: 1.3em;
  }

  .animate-fas {
    color: #e3b5a4;
    font-size: 1.5em;
  }

  .animate-logox {
    font-family: "Orbitron", sans-serif;
    color: #e3b5a4;
    font-size: 2em;
  }

  body {
    padding-top: 3em;
    background: #f5e9e2;
  }
}
@media only screen and (min-width: 2201px) {
  #cover-img {
    width: 150%;
  }

  .caption-cover {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 50%;
    padding: 0;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 7em;
  }

  .cover-name {
    color: #e3b5a4;
    font-size: 2em;
    margin: 0 3px;
    dipslay: inline-block;
  }

  .fas {
    color: #e3b5a4;
    font-size: 1.8em;
    margin-right: 3px;
  }

  .logotext {
    font-size: 1em;
    font-family: "Orbitron", sans-serif;
  }

  .contact-us-cover-btn {
    padding: 10px 18px;
    font-size: 0.5em;
    background-color: #773344;
  }

  .animate-container1 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 50%;
    padding: 20px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 2.5em;
  }

  .animate-logotext {
    color: black;
    font-size: 2.8em;
  }

  .animate-fas {
    color: #e3b5a4;
    font-size: 1.5em;
  }

  .animate-logox {
    font-family: "Orbitron", sans-serif;
    color: #e3b5a4;
    font-size: 2em;
  }

  body {
    padding-top: 3em;
    background: #f5e9e2;
  }
}

/*# sourceMappingURL=style.css.map */

/* section title */
h2{
  font-size: 3.5em;
}

#accordion-font1,
#accordion-font2,
#accordion-font3
{
  color: #773344;
  font-size: 0.35em;
}

.card-title
{
  color: #773344;
  font-size: 2em;
}

.footer-text1
{
  color: white;
}

.footer-text2
{
  color: #f5e9e2;
}

.contact-email
{
  color: #773344;
  font-size: 1.5em;
}